mixin feedback-form()
	feedback-form(inline-template)&attributes(attributes)
		form.feedback-form(action="")
			.row
				.col.size-50
					input.field(
					type="text"
					name="name"
					placeholder="Name"
					)

				.col.size-50
					input.field(
					type="email"
					name="email"
					placeholder="E-mail"
					required
					)

			.row
				.col.size-100
					select.select(
					name="question"
					)
						option(selected) Select question...
						option question 1
						option question 2
						option question 3

			.row.nowrap
				.col.captcha
					div(style={
						height: '45px',
						display: 'flex',
						alignItems: 'center',
						background: 'white',
						padding: '5px'
					}) CAPTCHA

				.col.captcha-field
					input.field(
					type="text"
					name="captcha"
					placeholder="Type characters"
					required
					)

			.row.actions
				.col.size-50.action
					button-primary Submit

				.col.size-50.action
					button-outline.theme-invert(
					type="reset"
					@click="$emit('close')"
					) Cancel
