include FeedbackForm

mixin section-contacts
	section-contacts(inline-template)&attributes(attributes)
		section.section-contacts
			.body
				img.logo-pi(
				src="img/pi.svg"
				alt="Pi"
				)

				base-content
					p.
						Our joint technical expertise and strong financial and legal background also enables us to
						provide you with detailed consultancy and advisory services on your individual projects whatever
						the size or complexity.

					p.
						For further information please click on the links above to the
						individual company websites or, alternatively, should you have a specific enquiry please contact
						us.

				transition(
				name="slide"
				mode="out-in"
				@enter="feedbackEnter"
				@after-enter="feedbackAfterEnter"
				@leave="feedbackLeave"
				@after-leave="feedbackAfterLeave"
				)
					.feedback(
					v-if="!$store.state.feedbackFormShow"
					key="actions"
					)
						.actions
							button-primary(
							tag="a"
							href="#feedback"
							@click.prevent="$store.commit('toggleFeedbackFormShow')"
							) Contact us

					.feedback(
					v-else
					key="feedback-form"
					)
						+feedback-form()(
						@close="$store.commit('toggleFeedbackFormShow')"
						)

			base-container
				.info
					p.
						We very much look forward to&nbsp;welcoming you soon
						to&nbsp;joining our&nbsp;community of&nbsp;satisfied clients.
