mixin service-item({title, description, content, imgSrc, url})
	service-item(inline-template)&attributes(attributes)
		article.service-item
			.col-main
				header.header
					h2.title(:style="{overflow: 'hidden'}")
						span(
						:style="{display: 'block'}"
						v-scroll:animate="'fadeInUp'"
						)= title

					p.description(:style="{overflow: 'hidden'}")
						span(
						:style="{display: 'block'}"
						v-scroll:animate="'fadeInUp'"
						)= description

				.main(:style="{overflow: 'hidden'}")
					div(v-scroll:animate="'fadeInUp'")
						base-content!= content

				footer.footer
					.footer-col
						button-outline(
						tag="a"
						href=`//${url}`
						target="_blank"
						) Visit website

					.footer-col
						.network-list
							a.network-item(
							href=""
							title="Facebook"
							)
								icon-facebook.network-item-icon

							a.network-item(
							href=""
							title="LinkedIn"
							)
								icon-linkedin.network-item-icon

			aside.col-aside
				figure.figure
					a.figure-img(
					href=`//${url}`
					target="_blank"
					)
						img.figure-img-element(
						src=imgSrc
						srcset=`${imgSrc.replace(/\.(jpg|png)$/, '@2x.$1')} 2x`
						alt=url
						v-scroll:load="'fadeIn'"
						)

					figcaption.figure-caption
						a.figure-caption-link(
						href=`//${url}`
						target="_blank"
						)= url

